<!DOCTYPE html>

Title: <%= @sub.title %>
<br>
Description: <%= @sub.description %>
<br>
Moderator: <%= @sub.moderator.username %>
<br>

<h1>Posts</h1>

<ul>
  <% @sub.posts.each do |post| %>
    <li>
    Title: <%= post.title %>
    Author: <%= post.author.username %>
    URL: <%= post.url %>
    <%= post.content %>
    <br>
    </li>
  <% end %>
</ul>
</form>
